@model LogiTech.Models.Route

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacityPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacityPercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelSaved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelSaved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistanceSaved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistanceSaved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImprovementPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImprovementPercent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VehicleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
